<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
  <link href="/static/css/reset.css" rel="stylesheet" type="text/css" />
  <link href="/static/css/page.css" rel="stylesheet" type="text/css" />
  <link href="/static/css/markdown.css" rel="stylesheet" type="text/css" />
  <link href="/static/css/syntax.css" rel="stylesheet" type="text/css" />
  <link href="/static/img/favicon.png" rel="icon" type="image/png" />
</head>
