/* Nikita Kouevda */
/* 2013/08/10 */

body {
  font-family: 'Georgia', serif;
  color: #333333;
}

#container {
  width: 50em;
  margin: 0 auto;
}

#site-header, #site-footer {
  text-align: center;
  padding: 4em 0;
}

#site-header-text {
  font-size: 3em;
}

#site-footer-text {
  font-size: 2em;
}

a {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px dashed;
}

a:hover {
  border-bottom-style: solid;
}

.link-separator {
  margin: 0 1em;
}

.post {
  margin-left: 2em;
  margin-right: 2em;
  border: 1px solid #dddddd;
  border-radius: 0.5em;
}

.post + .post {
  margin-top: 3em;
}

.post-header, .post-content {
  margin: 2em;
}

.post-title {
  font-size: 2em;
}

.post-date {
  float: right;
}
