/* Nikita Kouevda */
/* 2014/05/27 */

body {
  font-family: 'Palatino', serif;
  font-size: 125%;
  color: #333333;
}

a {
  color: #bb3300;
  text-decoration: none;
}

a:hover {
  opacity: 0.5;
}

#container {
  width: 35em;
  margin: 0 auto;
}

#site-header, #site-footer {
  text-align: center;
  margin: 3em 0;
}

#site-header > a {
  font-size: 2.5em;
}

#site-footer > a, #site-footer > span {
  font-size: 2em;
}

.link-separator {
  margin: 0 0.5em;
}

.post-separator {
  border-top: 1px solid #bbbbbb;
}

.post {
  margin: 3em 0;
}

.post-title {
  font-size: 2em;
}

.post-date {
  float: right;
}

.post-content {
  margin-top: 3em;
}
