<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />

    <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>

    <link href="/static/css/reset.css" rel="stylesheet" type="text/css" />
    <link href="/static/css/page.css" rel="stylesheet" type="text/css" />
    <link href="/static/css/markdown.css" rel="stylesheet" type="text/css" />
    <link href="/static/css/syntax.css" rel="stylesheet" type="text/css" />
    <link href="/static/img/favicon.png" rel="icon" type="image/png" />

    <script type="text/javascript">
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-17427236-3', 'auto');
      ga('send', 'pageview');
    </script>
  </head>
  <body>
    <div id="container">
      <header id="site-header">
        <a href="/">{{ site.title }}</a>
      </header>
      <div class="post-separator"></div>
      {{ content }}
      <footer id="site-footer">
        <ul>
          <li><a href="/about/">About</a></li>
          <li><span class="footer-separator">&ndash;</span></li>
          <li><a href="/blog/">Blog</a></li>
        </ul>
      </footer>
    </div>
  </body>
</html>
